body {
  background-image:url(https://cdn.pixabay.com/photo/2015/02/02/18/56/cigarettes-621346__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
float: left;
}
body h3 {
  font-family: serif;
  text-transform: uppercase;
  font-style: italic;
}
